@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-red: #E30613;
  --color-charcoal: #111827;
  --color-metadata: #6B7280;
  
  --shadow-ambient: 0px 4px 20px rgba(0, 0, 0, 0.04);
}

@layer base {
  body {
    @apply font-sans bg-white text-charcoal antialiased;
  }
}
